<!--Outer wrapper for page header-->
<section class="hero is-primary">

    <!--Inner wrapper for page header-->
    <div class="hero-head">

        <!--Wrapper for navigation bar-->
        <nav class="navbar">

            <!--Wrapper for center of navigation bar-->
            <div class="container">

                <!--Wrapper for dictionary brand-->
                <div class="navbar-brand">

                    <a class="navbar-item" href="/">
                        <h3 class="title is-3">Telugupadalu</h3>
                    </a>

                </div>
                <!--End of wrapper for dictionary brand-->

                <!--Wrapper for remainder of navigation bar-->
                <div class="navbar-menu">

                    <!--Wrapper for right of navigation bar-->
                    <div class="navbar-end">

                        <!--Wrapper for link to return to home page-->
                        <span class="navbar-item">

                            <a class="button is-white is-outlined is-medium" href="/addNewWord.ejs">
                                <span>Add word</span>
                            </a>

                        </span>
                        <!--End of wrapper for link to return to home page-->

                        <!--Wrapper for link to manifesto page-->
                        <span class="navbar-item">

                            <a class="button is-white is-outlined is-medium" href="/manifesto.ejs">
                                <span>Manifesto</span>
                            </a>

                        </span>
                        <!--End of wrapper for link to manifesto page-->

                    </div>
                    <!--End of wrapper for right of navigation bar-->

                </div>
                <!--End of wrapper for remainder of navigation bar-->

            </div>
            <!--End of wrapper for center of navigation bar-->

        </nav>
        <!--Wrapper for navigation bar-->

    </div>
    <!--End of inner wrapper for page header-->

</section>
<!--End of outer wrapper for page header-->